:root{
  --primary--color:#ffff;
}

*{
  margin: 0;
  padding: 0;

}
body{
  
}
.bg-demo6{
  background-color:#061a2e ;
}

.img_frame{
  width: 230px;
  height: 230px;
  border: 4px solid var(--primary--color);
  border-radius: 50%;
  overflow: hidden;
  margin: 0px auto;
}

#MainColor{
  background-color: #e3e8ed;
}

#Main-Color2{
  background-color: #e3e8ed;
}
.pd-hr{
  padding-right: 6rem ;
  padding-left: 6rem ;
}
.list-unstyled li a{
  text-decoration: none;
  color: var(--bs-gray-500);
}