:root{
    --primary--color:#ffff;
  }
  
*{
    margin: 0;
    padding: 0;
}
.img_frame{
  width: 230px;
  height: 230px;
  border: 4px solid var(--primary--color);
  border-radius: 50%;
  overflow: hidden;
  margin: 0px auto;
}
  #MainColor{
    --bs-gray-200: #e9ecefbd;
    background-color: var(--bs-gray-200) ;
  }
  
  #Main-Color2{
    background-color: #e3e8ed;}
#layoutDefault_footer{
  color: var(--bs-gray-200)
}
.list-unstyled li a{
  text-decoration: none;
  color: white;
}
