:root{
  --primary--color:#ffff;
}

*{
  margin: 0;
  padding: 0;

}



.img_frame{
  width: 230px;
  height: 230px;
  border: 4px solid var(--primary--color);
  border-radius: 50%;
  overflow: hidden;
  margin: 0px auto;
}
.list-unstyled li a{
  text-decoration: none;
  color: var(--bs-gray-500);

}



#MainColor{
  background-color: #e3e8ed;
}

#Main-Color2{
  background-color: #e3e8ed;
}
